
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 127,122,194;
  --accentcolor2: 82,86,109;
  --linkcolor: 127,122,194;
  --mentioncolor: 105,101,163;
  --textbrightest: 255,255,255;
  --textbrighter: 255,255,255;
  --textbright: 207,204,255;
  --textdark: 206,204,255;
  --textdarker: 103,101,163;
  --textdarkest: 42,41,82;

  --backgroundaccent: 105,101,163;
  --backgroundprimary: 41,47,82;
  --backgroundsecondary: 36,35,50;
  --backgroundsecondaryalt: 36,35,50;
  --backgroundtertiary: 36,35,50;
  --backgroundfloating: 41,47,82;
  --settingsicons: 0;
}

::-webkit-scrollbar {
  width: 10px !important;
}

::-webkit-scrollbar-thumb {
  /* On bigger screens, the scrollbar's border radius falls short, 
  so we put an obscenely large value for the border radius */
  border-radius: 500px !important;
  background: rgba(var(--accentcolor), 0.7) !important;
  background-clip: content-box !important;
  border: 2px solid transparent !important; /* Margin for the scrollbar */
}

/* Any custom CSS below here */
  
