@import "~/.config/rofi/config.rasi" 


configuration {
  modi: "drun";
}


window {
  width: inherit;
  height: inherit;
}

entry {
  expand: true;
  placeholder: " Search?";
}

listview {
  columns: 1;
  lines: 4;
  fixed-height: true;
  scrollbar: true;
  spacing: 6px;
  cycle: true;
  background-color: @surface-container;
  border-radius: 10px;
}

element-icon {
  size: 0%;
}

element-text {
  horizontal-align: 0.0;
  margin: 0px;
  padding: 0px;
}
