@define-color foreground #c2c4c7;
@define-color background #0e1321;
@define-color cursor #c2c4c7;

@define-color color0 #0e1321;
@define-color color1 #4B4B54;
@define-color color2 #61606C;
@define-color color3 #3C5780;
@define-color color4 #727489;
@define-color color5 #80818E;
@define-color color6 #9896A4;
@define-color color7 #c2c4c7;
@define-color color8 #5d6272;
@define-color color9 #4B4B54;
@define-color color10 #61606C;
@define-color color11 #3C5780;
@define-color color12 #727489;
@define-color color13 #80818E;
@define-color color14 #9896A4;
@define-color color15 #c2c4c7;
