/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #0e1321 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c2c4c7; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c2c4c7; background-color: rgba(152,150,164,0.4)}
.cm-s-nqqwal { background-color: #0e1321; color: #c2c4c7; }
.cm-s-nqqwal span.cm-builtin { color: #61606C; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #5d6272; }
.cm-s-nqqwal span.cm-keyword { color: #3C5780; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #727489; }
.cm-s-nqqwal span.cm-def { color: #80818E; }
.cm-s-nqqwal span.cm-variable { color: #9896A4; }
.cm-s-nqqwal span.cm-variable-2 { color: #80818E; }
.cm-s-nqqwal span.cm-string { color: #61606C; }
.cm-s-nqqwal span.cm-string-2 { color: #61606C; }
.cm-s-nqqwal span.cm-number { color: #80818E; }
.cm-s-nqqwal span.cm-tag { color: #3C5780; }
.cm-s-nqqwal span.cm-property { color: #9896A4; }
.cm-s-nqqwal span.cm-attribute { color: #9896A4; }
.cm-s-nqqwal span.cm-qualifier { color: #727489; }
.cm-s-nqqwal span.cm-meta { color: #80818E; }
.cm-s-nqqwal span.cm-header { color: #3C5780; }
.cm-s-nqqwal span.cm-operator { color: #3C5780; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(128,129,142,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #3C5780; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #0e1321); }
