@define-color foreground #c4c1c4;
@define-color background #150915;
@define-color cursor #c4c1c4;

@define-color color0 #150915;
@define-color color1 #382667;
@define-color color2 #4B315F;
@define-color color3 #624D69;
@define-color color4 #856671;
@define-color color5 #5B3887;
@define-color color6 #6A5395;
@define-color color7 #c4c1c4;
@define-color color8 #6c586c;
@define-color color9 #382667;
@define-color color10 #4B315F;
@define-color color11 #624D69;
@define-color color12 #856671;
@define-color color13 #5B3887;
@define-color color14 #6A5395;
@define-color color15 #c4c1c4;
