/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #150915 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c4c1c4; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c4c1c4; background-color: rgba(106,83,149,0.4)}
.cm-s-nqqwal { background-color: #150915; color: #c4c1c4; }
.cm-s-nqqwal span.cm-builtin { color: #4B315F; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #6c586c; }
.cm-s-nqqwal span.cm-keyword { color: #624D69; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #856671; }
.cm-s-nqqwal span.cm-def { color: #5B3887; }
.cm-s-nqqwal span.cm-variable { color: #6A5395; }
.cm-s-nqqwal span.cm-variable-2 { color: #5B3887; }
.cm-s-nqqwal span.cm-string { color: #4B315F; }
.cm-s-nqqwal span.cm-string-2 { color: #4B315F; }
.cm-s-nqqwal span.cm-number { color: #5B3887; }
.cm-s-nqqwal span.cm-tag { color: #624D69; }
.cm-s-nqqwal span.cm-property { color: #6A5395; }
.cm-s-nqqwal span.cm-attribute { color: #6A5395; }
.cm-s-nqqwal span.cm-qualifier { color: #856671; }
.cm-s-nqqwal span.cm-meta { color: #5B3887; }
.cm-s-nqqwal span.cm-header { color: #624D69; }
.cm-s-nqqwal span.cm-operator { color: #624D69; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(91,56,135,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #624D69; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #150915); }
